[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dash = "*"
flask = "*"
dash-bootstrap-components = "*"
pyqt6 = "*"
pylsl = "*"
numpy = "*"
mne = "*"
mne-lsl = "*"
platformdirs = "*"
pynput = "*"
pandas = "*"
seaborn = "*"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
ipykernel = "*"

[requires]
python_version = "3.11"
